.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.select {
  appearance: none;
  background-color: #f7f7fb;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  cursor: pointer;
  outline: none;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.146894 0.146894C0.19334 0.10033 0.248515 0.0633873 0.30926 0.0381808C0.370005 0.0129744 0.435127 0 0.500894 0C0.566661 0 0.631782 0.0129744 0.692528 0.0381808C0.753273 0.0633873 0.808448 0.10033 0.854894 0.146894L6.50089 5.79389L12.1469 0.146894C12.1934 0.100406 12.2486 0.0635292 12.3093 0.0383701C12.37 0.013211 12.4352 0.000261784 12.5009 0.000261784C12.5666 0.000261784 12.6317 0.013211 12.6925 0.0383701C12.7532 0.0635292 12.8084 0.100406 12.8549 0.146894C12.9014 0.193381 12.9383 0.248571 12.9634 0.30931C12.9886 0.370049 13.0015 0.43515 13.0015 0.500894C13.0015 0.566637 12.9886 0.631738 12.9634 0.692477C12.9383 0.753217 12.9014 0.808406 12.8549 0.854894L6.85489 6.85489C6.80845 6.90146 6.75327 6.9384 6.69253 6.96361C6.63178 6.98881 6.56666 7.00179 6.50089 7.00179C6.43513 7.00179 6.37001 6.98881 6.30926 6.96361C6.24852 6.9384 6.19334 6.90146 6.14689 6.85489L0.146894 0.854894C0.100331 0.808448 0.0633878 0.753272 0.0381813 0.692527C0.0129749 0.631782 0 0.566661 0 0.500894C0 0.435126 0.0129749 0.370005 0.0381813 0.30926C0.0633878 0.248515 0.100331 0.193339 0.146894 0.146894Z' fill='%23101828' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 16px;
}

.mileageWrapper {
  display: flex;
  background-color: #f7f7fb;
  border-radius: 14px;
  overflow: hidden;
}

.mileageInputBox {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  width: 160px;
  height: 44px;
}

.borderLeft {
  border-left: 1px solid rgba(138, 138, 137, 0.2); /* Розділювач */
}

.prefix {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-right: 5px;
}

.mileageInput {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #121417;
  width: 100%;
}

.mileageInput::-webkit-outer-spin-button,
.mileageInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  background: var(--button);
}

.searchBtn:hover {
  background-color: var(--button-hover);
}

@media (max-width: 1200px) {
  .container {
    align-items: center;
  }
  .select,
  .mileageInputBox {
    width: 100%;
    min-width: unset;
  }
  .inputGroup {
    width: 100%;
    max-width: 300px;
  }
}
