.section {
  position: relative;
  height: 700px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  margin: 0 auto;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 400px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.btn {
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background: var(--button);
  border: none;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}
