.catalogSection {
  padding: 50px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0 0 100px 0;
  justify-content: center;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
  background: none;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  cursor: pointer;

  border: 1px solid var(--button-hover);

  border-radius: 12px;
  padding: 12px;
  width: 156px;
  height: 44px;
}

.loadMoreBtn:hover {
  border: 1px solid var(--button);
}

.loader {
  text-align: center;
  color: #3470ff;
  font-size: 20px;
}
